build/
dist/
gwt-unitCache/
ivy-lib/
reports/
test-classes/
war/eu.ydp.gwtutil.YdpGwtUtil.JUnit/
war/WEB-INF/deploy/
war/WEB-INF/lib
war/WEB-INF/classes
.settings/
www-test/

.idea/
*.iml
.gradle/
war/
bin/
.classpath
.project
